<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <% if params[:controller] == "places" %>
    <h2 class="navbar-brand text-uppercase">Places</h2>

    <%= render 'layouts/header_toggle'%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to "Search", root_path, class: "btn btn-outline-success my-2 my-sm-0 pl-5 pr-5 rounded-0 ml-auto text-uppercase", data: { turbolinks: false } %>
    </div>
  <% else %>
    <h2 class="navbar-brand text-uppercase">Search</h2>

    <%= render 'layouts/header_toggle'%>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <%= link_to "Places", places_path, class: "btn btn-outline-success my-2 my-sm-0 pl-5 pr-5 rounded-0 ml-auto text-uppercase" %>
    </div>
  <% end %>
</nav>